h1 {
    margin: 0%;
    text-align: center; 
    font-size: 50px; 
    color: white; 
    font-family: 'EB Garamond';
}

h2 {
    margin: 1%;
    text-align: center; 
    font-size: 35px; 
    color: white; 
    font-family: 'EB Garamond';
}

button {
    align-items: center;
    font-size: 35px;
    border-radius: 5px;
    background-color: transparent;
    color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    font-family: 'EB Garamond';
    font-size: 35px; 
    z-index: 1;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#t1 {
    font-size: 5vh;
    color: white; 
    font-family: 'EB Garamond';
}

#output {
    background: transparent;
    text-align: center;
    padding: 2rem;
    margin: auto;
    width: 50vw;
    height: 70vh;
    color: white;
    font-size: 1.5rem;
    font-family: 'EB Garamond';
}

#gameBackgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }
}