<!DOCTYPE html>
<html lang="de" style="overflow: hidden;">
<head>
    <title>Alphastrike</title>
    <link
        href='https://fonts.googleapis.com/css?family=Fira Code'
        rel='stylesheet'>
    <link 
        href='https://fonts.googleapis.com/css?family=EB Garamond' 
        rel='stylesheet'>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/static/style.css">
    <meta
        name="viewport"
        content="
            width=device-width, 
            initial-scale=0.2,
            maximum-scale=0.2,
            user-scalable=0">
</head>
<body style="
        background-image: url('/static/img/defeat.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'EB Garamond';">

    <h1>
        Alphastrike
    </h1>
    <h2 id="infoline">
        SIR. We detected the hostile fleet! Shall we engage?
    </h2>
    <button id="start" onclick="window.location.href = '/';">
        Engage
    </button>
    <button 
        id="reset" 
        style="visibility: hidden;" 
        onclick="updateZustand(0)">
        Reset
    </button>
    <div>
        <svg 
            style="position: absolute; top: 20%; left: 0; width: 50%; height: 60%;"
            id="svg_grid" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
        <svg 
            style="position: absolute; top: 20%; right: 0%; width: 50%; height: 60%;"
            id="svg_grid_2" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    <div id="output">
        <span 
            id="final" 
            class="final" 
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
        <span 
            id="interim" 
            class="interim"
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
    </div>
</body>
<script>
    // Battleship game
    state = Array.from({ length: {{ boardsize }} }, () => 
        Array.from({ length: {{ boardsize }} }, () => 
            Array(6).fill(0)
        )
    )


    function sendSvgSourceToPython(source) {
        fetch('/', {
            method: 'POST',
            headers:
            {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({Source : source})
        })
        .then(response => response.json())
            .then(data => {
                const json_data = JSON.parse(
                    JSON.stringify(data)
                );
                const state = json_data.State
                const player = json_data.Player
                const failed = json_data.Failed
                const message = json_data.Message

                if (~failed) {
                    updateLeftBoard(state)
                    updateRightBoard(state)
                }

                if (message == "You won") {
                    updateZustand(2)
                    // window.location.reload()
                } 

                if (message == "AI won") {
                    updateZustand(3)
                    // window.location.reload()
                } 
            }
        )
    }

    function updateLeftBoard(state) 
    {
        for (let row = 0; row < size; row++) {
            for (let column = 0; column < size; column++) {
                // field has been hit
                if (state[2][row][column] == 255) {
                    dyn_fill_opacity = 0.7;
                    color = "red";
                // ship on field which has no been hit
                } else if (state[3][row][column] == 255) {
                    dyn_fill_opacity = 0.7;
                    color = "grey";
                // water
                } else if (state[1][row][column] == 255) {
                    dyn_fill_opacity = 0.7;
                    color = "blue";
                } else {
                    dyn_fill_opacity = 0.0;
                    color = "blue";
                }
                let rect_now = document.getElementById(
                    new String(row) +
                    new String(column)
                )
                rect_now.setAttribute(
                    "style", 
                    "fill: " + color + "; stroke: black; stroke-width: " + strokeWidth + "; fill-opacity:  " + dyn_fill_opacity + "; stroke-opacity: 1.0; font-family: 'EB Garamond'; font-size: 35px; "
                ) 
            }
        }
    }

    function updateRightBoard(state) 
    {
        for (let row = 0; row < size; row++) {
            for (let column = 0; column < size; column++) {
                if (state[5][row][column] == 255) {
                    dyn_fill_opacity = 0.7;
                    color = "red";
                } else if (state[4][row][column] == 255) {
                    dyn_fill_opacity = 0.7;
                    color = "blue";
                } else {
                    dyn_fill_opacity = 0.0;
                    color = "blue";
                }
                let rect_now = document.getElementById(
                    new String(row) +
                    new String(column) + 
                    new String(map_fields)
                )
                
                rect_now.setAttribute(
                    "style", 
                    "fill: " + color + "; stroke: black; stroke-width: " + strokeWidth + "; fill-opacity:  " + dyn_fill_opacity + "; stroke-opacity: 1.0; font-family: 'EB Garamond'; font-size: 35px; "
                )
            }
        }
    }

    let moves_player = 0
    let moves_ai = 0
    let grid = document.getElementById("svg_grid")
    let size = {{ boardsize }}
    let map_fields = size * size
    let rectWidth
    let rectHeight
    let startX
    let startY   
    let rectX
    let rectY
    let horizontalPadding = 2
    let verticalPadding = 2
    let strokeWidth = 2
    let fill_opacity = 0.1

    function zeichneBoards() 
    {
        rectWidth = 5
        rectHeight = 5
        
        startX = 10
        startY = 10

        rectX = startX

        for (let row = 0; row < size; row++) {
            let rectY = startY;
            for (let column = 0; column < size; column++) {
                
                let rect = document.createElementNS(
                    "http://www.w3.org/2000/svg", "rect"
                );
                let text = document.createElementNS(
                    "http://www.w3.org/2000/svg", "text"
                );

                rect.setAttribute(
                    'id', 
                    new String(row) +
                    new String(column)
                );
                rect.setAttribute(
                    "class",
                    "prevent-select"
                )

                rect.onclick = function ()
                {
                    var svgSource = text.textContent
                    sendSvgSourceToPython(svgSource)
                };

                text.setAttribute(
                    "x", 
                    rectX + 40 / size + "%"
                );
                text.setAttribute(
                    "y", 
                    rectY + 40 / size + "%"
                );
                text.setAttribute("font-size", "20");
                text.setAttribute("fill", "black");
                text.setAttribute("text-anchor", "middle");
                text.setAttribute(
                    "dominant-baseline", 
                    "middle"
                );
                text.textContent = (
                    String.fromCharCode(row + 65) +
                    (column + 1)
                );
                console.log(rectX)
                console.log(rectY)
                rect.setAttribute("x", rectX + "%");
                rect.setAttribute("y", rectY + "%");
                rect.setAttribute("width", 80 / size + "%");
                rect.setAttribute("height", 80 / size + "%");
                rect.setAttribute(
                    "style", 
                    "fill: grey; stroke: black; stroke-width: 2; fill-opacity:  " + fill_opacity + "; stroke-opacity: 1.0; font-family: 'EB Garamond'; font-size: 35px; "
                );
                // Rounded corners
                rect.setAttribute("rx", "1%");
                rect.setAttribute("ry", "1%");
                grid.appendChild(text);
                grid.appendChild(rect);
                rectY += 80 / size;
            }
            rectX += 80 / size;
        }
        
        rectWidth = 5
        rectHeight = 5
        
        startX = 10
        startY = 10
        
        for (let row = 0; row < size; row++) {
            let rectY = startY;
            for (let column = 0; column < size; column++) {
                let rect = document.createElementNS(
                    "http://www.w3.org/2000/svg", 
                    "rect");
                let text = document.createElementNS(
                    "http://www.w3.org/2000/svg", 
                    "text");
                rect.setAttribute(
                    'id', 
                    new String(row) + 
                    new String(column) + 
                    new String(map_fields));   
                rect.setAttribute(
                    "class",
                    "prevent-select"
                )
                rect.onclick = function () 
                {
                    var svgSource = text.textContent;
                    sendSvgSourceToPython(svgSource);
                };
                text.setAttribute(
                    "x", 
                    rectX + 40 / size + "%"
                );
                text.setAttribute(
                    "y", 
                    rectY + 40 / size + "%"
                );
                text.setAttribute("font-size", "20");
                text.setAttribute("fill", "black");
                text.setAttribute("text-anchor", "middle");
                text.setAttribute("dominant-baseline", "middle");
                text.textContent = (
                    String.fromCharCode(row + 65) + 
                    (column + 1)
                );
                rect.setAttribute("x", rectX + "%");
                rect.setAttribute("y", rectY + "%");
                rect.setAttribute("width", 80 / size + "%");
                rect.setAttribute("height", 80 / size + "%");
                rect.setAttribute(
                    "style", 
                    "fill: blue; stroke: black; stroke-width: 2; fill-opacity: 0.1; stroke-opacity: 1.0; font-family: 'EB Garamond'; font-size: 35px; "
                );
                // Rounded corners
                rect.setAttribute("rx", "1%");
                rect.setAttribute("ry", "1%");
                grid.appendChild(text);
                grid.appendChild(rect);

                rectY += rectHeight + verticalPadding;
            }
            rectX += rectWidth + horizontalPadding;
        }

        // Resize the grid to fit its containing rectangles
        if (window.innerWidth > window.innerHeight) 
        {
            svgWidth = startX + size * (
                horizontalPadding + rectWidth + strokeWidth
            );
            svgHeight = startY + size * (
                verticalPadding + rectHeight + strokeWidth
            );
        } else 
        {
            svgWidth = startX + size * (
                horizontalPadding + rectWidth + strokeWidth
            );
            svgHeight = startY + size * (
                verticalPadding + rectHeight + strokeWidth
            );
        }

        grid.setAttribute("width", svgWidth);
        grid.setAttribute("height", svgHeight);
    }

    var infoline = document.getElementById(
        "infoline"
    )
    var buttonStart = document.getElementById(
        "start"
    )
    var buttonReset = document.getElementById(
        "reset"
    )

    function updateZustand(zustand) {
        if (zustand == 0) 
        {
            window.location.reload()
            buttonStart.style.visibility = 'visible'
            buttonReset.style.visibility = 'hidden'
            document.body.style.backgroundImage = 'url(/static/img/navy.jpg)'
            infoline.innerText = "SIR. We detected the hostile fleet! Shall we engage?" 
        }
        if (zustand == 1) 
        {               
            document.body.style.backgroundImage = 'url(/static/img/navy.jpg)'

            
            infoline.innerText = "Your ship map" + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0' + "Your strike map" 

            buttonStart.style.visibility = 'hidden'

            zeichneBoards()
        }
        if (zustand == 2) 
        {
            document.body.style.backgroundImage = 'url(/static/img/victory.webp)'
            buttonReset.style.visibility = 'visible'
            button.innerHTML = 'Reset'
            infoline.innerText = "Victory" 
        }
        if (zustand == 3)
        {
            document.body.style.backgroundImage = 'url(/static/img/defeat.jpg)'
            buttonReset.style.visibility = 'visible'
            button.innerHTML = 'Reset'
            infoline.innerText = "Defeat" 
        }
    }

    


    var speechElement = new webkitSpeechRecognition();
    speechElement.lang = 'de-DE';
    speechElement.interimResults = true;
    speechElement.continuous = true;
    var final_transcript = '';
    var removeCharsInterval = null;
    speechElement.start();

    function removeFirstChar()
    {
        final_transcript = final_transcript.substring(1);
        document.getElementById('final').innerHTML = final_transcript;
        console.log(final_transcript);
        if (final_transcript.length < 1)
        {
            clearInterval(removeCharsInterval);
        }
        return;
    }

    speechElement.onresult = function(event) 
    {
        var interim_transcript = '';
        for(var i = event.resultIndex; i < event.results.length; ++i) 
        {
            if (event.results[i].isFinal) 
            {
                final_transcript += event.results[i][0].transcript;
                for (let ii = 65; ii <= (65 + size - 1); ii++) { 
                    console.log(ii)
                    let letter = String.fromCharCode(ii).toUpperCase();
                    for (let number = 1; number <= size; number++) {
                        let position = letter + number;
                        if (final_transcript.includes(
                            position
                        )) 
                        {
                            sendSvgSourceToPython(position);
                        }
                    }
                }
                if (final_transcript.includes("your")) 
                {
                    sendSvgSourceToPython("A1");
                }
                if (final_transcript.includes(
                    "white"
                )) 
                {
                    updateZustand(0)
                }
                if (final_transcript.includes(
                    "engage"
                )) 
                {
                    updateZustand(1)
                }
                removeCharsInterval = setInterval(
                    removeFirstChar, 
                    100
                );
            } else
            {
                interim_transcript += event.results[i][0].transcript;
                console.log(interim_transcript)
            }
        }
        document.getElementById('final').innerHTML = final_transcript;
        document.getElementById('interim').innerHTML = interim_transcript;
    }
</script>
</html>
