<!DOCTYPE html>
<html lang="de" style="overflow: hidden;">
<head>
    <title>Alphastrike</title>
    <link
        href='https://fonts.googleapis.com/css?family=Fira Code'
        rel='stylesheet'>
    <link 
        href='https://fonts.googleapis.com/css?family=EB Garamond' 
        rel='stylesheet'>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/static/style.css">
    <meta
        name="viewport"
        content="
            width=device-width, 
            initial-scale=0.2,
            maximum-scale=0.2,
            user-scalable=0">
</head>
<body style="
        background-image: url('/static/img/victory.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'EB Garamond';">

    <h1>
        Alphastrike
    </h1>
    <button 
        id="start" 
        style="z-index: 1;"
        onclick="window.location.href='/'">
        Reset
    </button>
    <div>
        <svg 
            style="position: absolute; top: 20%; left: 0; width: 50%; height: 60%;"
            id="svg_grid" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
        <svg 
            style="position: absolute; top: 20%; right: 0%; width: 50%; height: 60%;"
            id="svg_grid_2" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    <div id="output">
        <span 
            id="final" 
            class="final" 
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
        <span 
            id="interim" 
            class="interim"
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
    </div>
</body>
</html>
