<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body style="
    background-image: url('/static/img/sea.jpg'); background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;">
    
    <h1 style="
        text-align: center; 
        font-size: 65px; 
        color: white; 
        font-family: monospace;">
        Error 404
    </h1>
</body>
</html>