{% load static %}
<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <title>Alphastrike</title>
    <link
        href='https://fonts.googleapis.com/css?family=Fira Code'
        rel='stylesheet'>
    <link 
        href='https://fonts.googleapis.com/css?family=EB Garamond' 
        rel='stylesheet'>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'style.css' %}?v={{ version }}">
    <script src="{% static 'game.js' %}?v={{ version }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
    <meta
        name="viewport"
        content="
            width=device-width, 
            initial-scale=0.2,
            maximum-scale=0.2,
            user-scalable=0">
</head>
<body style="font-family: 'EB Garamond';">
    <img id="gameBackgroundImage" src="/static/img/game.webp">

    <h1>
        Alphastrike
    </h1>
    <div id="t1" class="mobile-content">
        <div style="position: absolute; top: 11%; left: 10%;display: flex; align-items: center; justify-content: center;">
            <p>Your ship map</p>
        </div>
    </div>
    <div id="t1" class="mobile-content">
        <div style="position: absolute; top: 51%; left: 10%; display: flex; align-items: center; justify-content: center;">
            <p>Your strike map</p>
        </div>
    </div>
    <div id="t1" class="desktop-content">
        <div style="position: absolute; top: 11%; left: 5%;display: flex; align-items: center; justify-content: center;">
            <p>Your ship map</p>
        </div>
    </div>
    <div id="t1" class="desktop-content">
        <div style="position: absolute; top: 11%; left: 55%; display: flex; align-items: center; justify-content: center;">
            <p>Your strike map</p>
        </div>
    </div>
    <div>
        <svg 
            style="position: absolute; top: 20%; left: 0; width: 100%; height: 80%; z-index: 1;"
            id="svg_grid" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    <div id="output">
        <span 
            id="final" 
            class="final" 
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
        <span 
            id="interim" 
            class="interim"
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
    </div>
</body>
</html>
