{% load static %}
<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <title>Alphastrike</title>
    <link
        href='https://fonts.googleapis.com/css?family=Fira Code'
        rel='stylesheet'>
    <link 
        href='https://fonts.googleapis.com/css?family=EB Garamond' 
        rel='stylesheet'>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'style.css' %}?v={{ version }}">
    <script src="{% static 'game.js' %}?v={{ version }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
    <meta
        name="viewport"
        content="
            width=device-width, 
            initial-scale=0.2,
            maximum-scale=0.2,
            user-scalable=0">
</head>
<body style="font-family: 'EB Garamond';">
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn" id="close-btn">&times;</span>
            <h2 style="color: black;">How to</h2>
            
            <h3 style="color: black;">Place your ships</h3>
            <p>To place a ship you will have to set the bow and the steer field. Both maps can be used aquivallently for placement. To place for examples a ship of size three first click on the field which shall be on and of a ship and then click on a field which is three field apart and eather on the vertical or the horiontal axis.</p>
            
            <h3 style="color: black;">Move</h3>
            <p>When you have placed all four ships of your fleet your opponent will automatically place his. </p>
            <label>
                <input type="checkbox" id="dont-show-again"> Do not show again
            </label>
        </div>
    </div>

    <img id="gameBackgroundImage" src="/static/img/fleet.jpg">

    <h1 id="t1">
        Alphastrike
    </h1>
    <div id="t1" class="mobile-content">
        <div style="position: absolute; top: 9%; left: 10%; display: flex; align-items: center; justify-content: center;">
            <p>Your ship map</p><br>
        </div>
    </div>
    <div id="t1" class="mobile-content">
        <div style="position: absolute; top: 18%; left: 10%; display: flex; align-items: center; justify-content: center;">
            <p id="shipInfo1" style="font-size: 2vh;">Place your ships of size 5, 4, 3 and 2</p>
        </div>
    </div>
    <div id="t1" class="mobile-content">
        <div style="position: absolute; top: 51%; left: 10%; display: flex; align-items: center; justify-content: center;">
            <p>Your strike map</p>
        </div>
    </div>
    <div id="t1" class="desktop-content">
        <div style="position: absolute; top: 11%; left: 5%;display: flex; align-items: center; justify-content: center;">
            <p>Your ship map</p><br>
        </div>
    </div>
    <div id="t1" class="desktop-content">
        <div style="position: absolute; top: 19%; left: 5%;display: flex; align-items: center; justify-content: center;">
            <p id="shipInfo2" style="font-size: 3vh;">Place your ships of size 5, 4, 3 and 2</p>
        </div>
    </div>
    <div id="t1" class="desktop-content">
        <div style="position: absolute; top: 11%; left: 55%; display: flex; align-items: center; justify-content: center;">
            <p>Your strike map</p>
        </div>
    </div>
    <div>
        <svg 
            style="position: absolute; top: 20%; left: 0; width: 100%; height: 80%; z-index: 1;"
            id="svg_grid" 
            xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    <div id="output">
        <span 
            id="final" 
            class="final" 
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
        <span 
            id="interim" 
            class="interim"
            style="font-family: EB Garamond; font-size: 35px; margin: 1%;">
        </span>
    </div>
</body>
</html>
